@import "lib/reset";
//shevy
@include headings;
@include body;
@include content;
//susy
@include border-box-sizing;

h1 {
  font-family: "BebasKai"; 
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

a {
  text-decoration: none;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.wrapper{
  flex: 1 0 0;
}

b,strong{
  font-weight: 700;
}
