.svg-logo{
	width: 100%;
	height: 100%;
	fill: $black;
}

.svg-logo-small-black{
	width: 38px;
	height: 38px;
	transition: $quick;
	cursor: pointer;

	&:hover{
		filter: brightness(0);
	}
}

.svg-partners{
	width: 100%;
	height: 320px;
	margin: lhs(2) 0;
}

.svg-socials{
	width: 39px;
	height: 39px;
	opacity: 1;
	margin-left: 1.5rem;
	transition: $quick;

	&:hover{
		opacity: .7;
	}
}

.svg-socials-small{
	width: 24px;
	height: 24px;
	opacity: 1;
	margin-right: 1.5rem;
	transition: $quick;

	&:hover{
		opacity: .7;
	}
}