/*relative sizes for headings*/
$h1: 4.44444;
$h2: 1.777;
$h3: 1.51;
$h4: 1.333;
$h5: 1.125;
$h6: 1;

/*colors*/
$white: #FFF;
$black: #191919;

$susy: (columns: 12, gutters: 1, gutter-position: after, global-box-sizing: border-box);

/*borders*/
$border-width: 8px;

/*shevy config example */
$shevy: (base-font-size: .9rem,
        base-line-height: 1.5,
        base-font-scale: ($h1, $h2, $h3, $h4, $h5, $h6),
        proximity: true,
        proximity-factor: .85);

//transitions
$quick: .2s cubic-bezier(0, 0.01, 0.2, 0.9);
$smooth: .5s cubic-bezier(0, 0.01, 0.2, 0.9);

// custom fonts
@font-face {
    font-family: "BebasKai";
    src: url("../fonts/BebasKai-Regular.otf");
}

// custom mixins and functions

@mixin links($link, $visit: $link, $hover: $link, $active: $link) {
    a {
        color: $link;
        text-decoration: none;
        transition: .3s cubic-bezier(0, 0.01, 0.2, 0.9);

        &:visited {
            color: $visit;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;

        }
    }
}

// to work properly, $number-of-columns * $each-item-width
// must be < 100% and > $each-item-width
// $each-item-width must be in percentage
@mixin last-row-flexbox($number-of-columns, $each-item-width){
    
    $filled-space: $each-item-width * $number-of-columns;
    $margin: calc((100% - #{$filled-space}) / (#{$number-of-columns} - 1));
  
    $num-cols-1 : $number-of-columns - 1;
    width: $each-item-width;

    &:nth-child(#{$number-of-columns}n+1):nth-last-child(-n+#{$num-cols-1}) ~ & {
      margin-left: $margin;
    }
  
    @for $i from 1 through $number-of-columns - 2 { 
      $index: $number-of-columns - $i;

      &:nth-child(#{$number-of-columns}n+#{$index}):last-child{
        margin-right: auto;
      }
    }
  
  }