.button{
    padding: lhs(2) 0;
    margin: lhs(4) 0;
    text-align: center;
    width: 100%;
    font-family: "BebasKai";
    
    border-width: $border-width 0 $border-width 0;
    border-style: solid;
    border-color: $black;
    @include links($black);

    &__submit{
        text-transform: uppercase;
        font-size: 3rem;
        transition: $quick;

        &:hover {
            transform: scale(1.05);
            opacity: .7;
        }
    }    
}