.highlight{
    display: flex;
    margin-top: lhs(5);
    margin-bottom: lhs(3);

    &__item{
        flex: 1;
        margin: 0 2.5rem;
        @include links($black, $black,rgba($black,.7),rgba($black,.7));
    }

    &__item--wider{
        flex: 3;
    }

    &__image{
        margin-bottom: lhs();
        height: 150px;


        a {
            svg{
                transition: $quick;
            }

            svg:hover {
                opacity: .7;
                transform: scale(1.05);
            }
        }
    } 

    &__image img{
        height: 150px;
        width: 90%;
    }

    &__header{
        font-weight: 700;
        float: left;
    }

    &__paragraph{
        text-align: left;
    }

    &__description{
        text-align: center;
    }
}