.jumbo{
    width: 100%;
    height: calc(120vh);
    // display: flex;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner-image{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    &__inner-image img{
        margin: auto;
        width: 50%;
        opacity: .9;
    }

}