.menu{
    flex: 1;
    text-transform: uppercase;

    &__item{
        display: inline-block;
        margin-left: 1.5rem;
        margin-top: 3px;

        @include links($black, $black,rgba($black,.7),rgba($black,.7));
        font-size: get-size($h5);
        font-weight: 700;

        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent; /* For some Androids */
    }
}