.persons{
    display: flex;
    justify-content: space-around;
    width: 100%;

    &__person{
        flex: 1;
        max-width: 20%;
    }

    &__contact{
        flex: 1;
    }

    &__image{
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        width: 200px;
        margin: 0 auto lhs(1) auto;

    }

    &__name{
        font-size: get-size($h5);
        font-weight: 700;
        text-align: center;
        margin: 0;
        line-height: lhs(1.2);
    }

    &__position{
        font-size: get-size($h5);
        font-weight: 700;
        text-align: center;
        line-height: lhs(1.2);
    }

    &__paragraph{
        text-align: center;
    }
}