.textbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__header{
        flex: 1 0 100%;
        margin-top: lhs();
        margin-bottom: lhs(2);
        font-family: "BebasKai";

        font-size: get-size($h1);
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__subheader{
        font-weight: 700;
        font-size: get-size($h6);
        margin: 0;
    }

    &__column{
        flex: 1;
        max-width: 48%;
    }

    &__paragraph{
        text-align: justify;
        @include links($black, $black,rgba($black,.7),rgba($black,.7));

        & a{
            text-decoration: underline;
            font-weight: 700;
        }
    }
}