.about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    &__row{
        align-items: flex-end;
        display: flex;

        &:not(:last-of-type){
            border-bottom: $border-width solid $black;
            padding-bottom: lhs(2);
            margin-bottom: lhs(3);
        }
    }

    &__column{
        flex: 1 0 15vw;

        &--left-margin{
            margin-left: 2.7rem;
            flex-basis: 0;
            align-self: flex-start;
        }

        &--right-margin{
            margin-right: 2.7rem;
            flex-basis: 0;
        }
    }

    &__image{
        width: 100%;
    }

    &__video{
        width: 100%;
        min-height: 380px;
        background: $black;
        margin-bottom: lhs();
    }

    &__header{
        margin-bottom: lhs();
        font-family: "BebasKai";

        font-size: get-size($h1);
        letter-spacing: 1px;
        line-height: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: lhs(1.5);
    }

    &__subtitle{
        font-size: get-size($h5);
        font-weight: 700;
        margin-bottom: lhs(.5);
    }

    &__paragraph{
        text-align: justify;
        @include links($black, $black,rgba($black,.7),rgba($black,.7));

        & a{
            text-decoration: underline;
            font-weight: 700;
        }
    }

    li{
        list-style-position: inside;
        list-style-type: disc;
    }
}