.article {    

    &__heading {
        border-bottom: $border-width solid black;        
        margin-bottom: lhs(2);
    }

    &__title {
        margin-bottom: lhs(1.5);
    }

    &__meta {
        @include span(4 of 12);
    }

    &__content {
        @include span(8 of 12 last);        
    }

    &__date {
        font-weight: 700;
        font-size: get-size($h3);
    }

    &__authors {
        font-weight: 700;
        font-size: get-size($h5);
    }

    &__summary{
        
        p {
            font-weight: 700;
            font-size: get-size($h5);
        }
    }

    &__thumbnail {
       
        img {
            max-width: 100%;
        }
    }

    @include links($black);

    h1,h2,h3{

        &:not(:first-child){
            margin-top: bs(2);
        }
    }

    a {
        font-weight: 700;
        text-decoration: underline;

        &:hover {
            opacity: 0.8;
        }
    }

    img {
        max-width: 100%;
        margin: bs(2) 0;  
        display: block;      
    }

    ul {
        list-style: disc;
        margin-left: lhs(2);

        > ul, > ol {
            margin-top: lhs(.5);
            margin-bottom: lhs(.5);
        }
    }

    ol {
        list-style: decimal;
        margin-left: lhs(2);

        > ul, > ol {
            margin-top: lhs(.5);
            margin-bottom: lhs(.5);
        }
    }

    li {
        padding-left: .5rem;
        line-height: lhs(1.1);
    }
}
