.blog{
    
    @include links($black);

    &__link {
        display: block;
        overflow: auto;

    }

    &__heading{
        display: flex;
        justify-content: space-between;        
        border-bottom: $border-width solid black;
        padding-bottom: lhs(1.5);
    }

    &__header{
        margin-bottom: 0;
        font-family: "BebasKai";

        font-size: get-size($h1);
        line-height: get-size($h1);
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__year{
        font-family: "Open Sans", sans-serif;
        align-self: flex-end;
        border: 0;
        font-size: get-size($h4);
        font-weight: 700;
        letter-spacing: 1px;
    }

    &__item{
        border-bottom: $border-width solid black;
        padding-bottom: lhs(2);
        padding-top: lhs(2);
        width: 100%;
        float: left;
    }

    &__image{
        width: 30%;
        margin-right: 3rem;
        float: left;
        transition: $quick;

        &:hover{
            filter: brightness(0.7);
        }
    }

    &__title{
        margin-bottom: lhs(.5);
        font-family: "BebasKai";
        
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 1px;
        font-weight: 400;
        text-transform: uppercase;
        transition: $quick;

        &:hover {
            opacity: 0.7;
        }
    }

    &__publish-date{
        display: inline-block;
        font-size: get-size($h4);
        margin-bottom: lhs(0.5);
        font-weight: 700;
        letter-spacing: 1px;
    }

    &__author{
        margin-bottom: lhs(0.5);
        font-weight: 700;
    }

}