.contact{
    margin-top: lhs(4);
    display: flex;

    &__left{
        flex: 1 0 30%;
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }

    &__image{
        width: 100%;
        padding: lhs(2) 0;
        border-bottom: $border-width solid $black;
    }

    &__options{
        padding: lhs() 0;
        display: flex;
        justify-content: space-between;
    }

    &__options{
        @include links($black, $black,rgba($black,.7),rgba($black,.7));
        font-weight: 700;
        font-size: get-size($h5);
    }
}