.footer{
    display: flex;
    justify-content: space-between;
    margin-top: lhs(3);
    padding: lhs();
    padding-bottom: 15px;

    font-weight: 700;

    @include links($black, $black,rgba($black,.7),rgba($black,.7));

}