.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: lhs(1.5);

    &__nav{
        display: flex;
    }

    &__left, &__right{
        padding: lhs(.5) lhs();
        z-index: 99;
    }

    &__socials {
        display: flex;
        margin-top: 3px;
    }
}