.member{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;

    &__column{
        flex: 1 0 15vw;
        position: relative;

        &--left-margin{
            margin-left: 2.7rem;
            flex-basis: 0;
        }
    }

    &__back{
        position: absolute;
        top: 10px;
        left: 15px;

        color: $white;
        @include links($white, $white,rgba($white,.7),rgba($white,.7));
        font-weight: 700;
        text-transform: uppercase;
    }

    &__image {
        width: 100%;
    }

    &__header {
        margin-bottom: lhs();
        font-family: "BebasKai";
        font-weight: 400;
        font-size: get-size($h1);
        letter-spacing: 1px;
        line-height: 3rem;
        text-transform: uppercase;
        margin-bottom: lhs(1.5);
    }

    &__question {
        font-weight: 700;
        text-align: left;
    }

    &__answer {
        text-align: left;
        margin-bottom: lhs(1);
    }
}