.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include links($black, $black,rgba($black,.7),rgba($black,.7));

    a:hover{
        filter: brightness(0.7);
    }

    &__member{
        @include last-row-flexbox(6, 15%);
    }

    &__member-image{
        width: 100%;
        transition: $smooth;
    }

    &__member-name{
        text-align: center;
        font-size: get-size($h6);
        font-weight: 700;
    }
}
